[project]
	description = Online dictionary platform
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vadzim Ramanenka (ramanenka)
[access "refs/for/refs/*"]
	read = group user/Vadzim Ramanenka (ramanenka)
	push = group user/Vadzim Ramanenka (ramanenka)
	label-Code-Review = -2..+2 group user/Vadzim Ramanenka (ramanenka)
	label-Verified = -1..+1 group user/Vadzim Ramanenka (ramanenka)
	rebase = group user/Vadzim Ramanenka (ramanenka)
	removeReviewer = group user/Vadzim Ramanenka (ramanenka)
	submit = group user/Vadzim Ramanenka (ramanenka)
[access "refs/heads/*"]
	read = group user/Vadzim Ramanenka (ramanenka)
	create = group user/Vadzim Ramanenka (ramanenka)
	push = +force group user/Vadzim Ramanenka (ramanenka)
	pushMerge = group user/Vadzim Ramanenka (ramanenka)
[access "refs/tags/*"]
	push = group user/Vadzim Ramanenka (ramanenka)
	push = +force group user/Vadzim Ramanenka (ramanenka)
