{{define "layout" -}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Verbum Admin Panel</title>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css"
            integrity="sha256-2k1KVsNPRXxZOsXQ8aqcZ9GOOwmJTMoOB5o5Qp1d6/s="
            crossorigin="anonymous" />
        <style type="text/css">
            .notification { border-radius: 0; }
            .notification:not(:last-child) { margin-bottom: 0; }

            .editor-toolbar .color-tag { color: #63a35c !important; }
        </style>
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript">
            window.verbumInitData = {
                user: {{.Principal}},
                config: {
                    Dicts: {{.Dicts}},
                },
            }
        </script>
        <script src="{{ "/statics/vendor.bundle.js" | staticURL }}"></script>
        <script src="{{ "/statics/admin.bundle.js" | staticURL }}"></script>
    </body>
</html>
{{end}}
