[Unit]
Description=Verbum frontend
After=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=verbum
Group=verbum
ExecStart=/usr/bin/node /usr/local/share/verbum/frontend/server.bundle.js
NoNewPrivileges=true
WorkingDirectory=/usr/local/share/verbum/frontend
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
