[Unit]
Description=Verbum.by

[Service]
User=verbum
Group=verbum
ExecStart=/usr/local/bin/verbum serve
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
WorkingDirectory=/usr/local/share/verbum
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
