{{define "N"}}
<p>
<table>
	<thead>
		<tr>
			<th></th>
			{{if hasForm . ".S"}}<th><v-abbr>адз.</v-abbr></th>{{end}}
			{{if hasForm . ".P"}}<th><v-abbr>мн.</v-abbr></th>{{end}}
		</tr>
	</thead>
	<tbody>
		{{$d := . -}}
		{{range $c := grammarCasesNoun -}}
		{{if hasForm $d (printf "%s." $c.Tag) -}}
		<tr>
			<th><v-abbr>{{$c.Abbr}}</v-abbr></th>
			{{$plur    := list "S" "P" -}}
			{{range $p := $plur -}}
			{{if hasForm $d (printf ".%s" $p) -}}
			<td>{{form $d (printf "%s%s" $c.Tag $p)}}</td>
			{{end -}}
			{{end -}}
		</tr>
		{{end -}}
		{{end -}}
	</tbody>
</table>
</p>
{{end -}}

{{define "R"}}
<p>
<table>
	<thead>
		<tr>
			<th><v-abbr>станоўч.</v-abbr></th>
			<th><v-abbr>выш.</v-abbr></th>
			<th><v-abbr>найвыш.</v-abbr></th>
		</tr>
	</thead>
	<tbody>
		{{$d := . -}}
		<tr>
			{{$comps    := list "P" "C" "S" -}}
			{{range $c := $comps -}}
			<td>{{form $d $c}}</td>
			{{end -}}
		</tr>
	</tbody>
</table>
</p>
{{end -}}

{{define "SN"}}
{{if hasForm . "[MFN0PX].[SP]" -}}
<p>
<table>
	<thead>
		<tr>
			<th rowspan=2></th>
			{{if hasForm . "..S"}}<th colspan={{countForms . "M.S" "F.S" "N.S" "0.S"}}><v-abbr>адз.</v-abbr></th>{{end}}
			{{if hasForm . "..P"}}<th colspan={{countForms . "M.P" "F.P" "N.P" "[PX0].P"}}><v-abbr>мн.</v-abbr></th>{{end}}
		</tr>
		<tr>
			{{if hasForm . "..S" -}}
			{{if hasForm . "M.S"}}<th><v-abbr>м.</v-abbr></th>{{end}}
			{{if hasForm . "F.S"}}<th><v-abbr>ж.</v-abbr></th>{{end}}
			{{if hasForm . "N.S"}}<th><v-abbr>н.</v-abbr></th>{{end}}
			{{if hasForm . "0.S"}}<th><v-abbr>-</v-abbr></th>{{end}}
			{{end -}}
			{{if hasForm . "..P" -}}
			{{if hasForm . "M.P"}}<th><v-abbr>м.</v-abbr></th>{{end}}
			{{if hasForm . "F.P"}}<th><v-abbr>ж.</v-abbr></th>{{end}}
			{{if hasForm . "N.P"}}<th><v-abbr>н.</v-abbr></th>{{end}}
			{{if hasForm . "[PX0].P"}}<th><v-abbr>-</v-abbr></th>{{end}}
			{{end -}}
		</tr>
	</thead>
	<tbody>
		{{$d := . -}}
		{{range $c := grammarCases -}}
		<tr>
			<th><v-abbr>{{$c.Abbr}}</v-abbr></th>
			{{if hasForm $d "..S" -}}
				{{range $g := list "M" "F" "N" "0" -}}
					{{if hasForm $d (printf "%s.S" $g) -}}
					<td>{{form $d (printf "%s%sS" $g $c.Tag)}}</td>
					{{end -}}
				{{end -}}
			{{end -}}
			{{if hasForm $d "..P" -}}
				{{range $g := list "M" "F" "N" "[PX0]" -}}
					{{if hasForm $d (printf "%s.P" $g) -}}
					<td>{{form $d (printf "%s%sP" $g $c.Tag)}}</td>
					{{end -}}
				{{end -}}
			{{end -}}
		</tr>
		{{end -}}
	</tbody>
</table>
</p>
{{end -}}
{{end -}}

{{define "V"}}
{{$d := . -}}
{{$asoba := list "1" "2" "3" -}}
{{$asobaLabel := list "1-я ас." "2-я ас." "3-я ас." -}}

{{/* TODO: raise if no R.. and no F.. forms exist */}}

<p>
<table>
{{if hasForm $d "R.." -}}
	<thead>
		<tr><th colspan=3>Цяперашні час</th></tr>
		<tr>
			<th></th>
			<th><v-abbr>адз.</v-abbr></th>
			<th><v-abbr>мн.</v-abbr></th>
		</tr>
	</thead>
	<tbody>
		{{range $i, $a := $asoba}}
		<tr>
			<th><v-abbr>{{index $asobaLabel $i}}</v-abbr></th>
			{{range $p := list "S" "P" -}}
			<td>{{form $d (printf "R%s%s" $a $p)}}</td>
			{{end -}}
		</tr>
		{{end -}}
	</tbody>
{{end -}}
{{if hasForm $d "F.." -}}
	<thead>
		<tr><th colspan=3>Будучы час</th></tr>
		<tr>
			<th></th>
			<th><v-abbr>адз.</v-abbr></th>
			<th><v-abbr>мн.</v-abbr></th>
		</tr>
	</thead>
	<tbody>
		{{range $i, $a := $asoba}}
		<tr>
			<th><v-abbr>{{index $asobaLabel $i}}</v-abbr></th>
			{{range $p := list "S" "P" -}}
			<td>{{form $d (printf "F%s%s" $a $p)}}</td>
			{{end -}}
		</tr>
		{{end -}}
	</tbody>
{{end -}}
{{if hasForm $d "P.." -}}
	<thead><tr><th colspan=3>Прошлы час</th></tr></thead>
	<tbody>
		<tr>
			<th><v-abbr>м.</v-abbr></th>
			<td>{{form $d "PMS"}}</td>
			<td rowspan=3>{{form $d "PXP"}}</td>
		</tr>
		<tr>
			<th><v-abbr>ж.</v-abbr></th>
			<td>{{form $d "PFS"}}</td>
		</tr>
		<tr>
			<th><v-abbr>н.</v-abbr></th>
			<td>{{form $d "PNS"}}</td>
		</tr>
	</tbody>
{{end -}}
{{if hasForm $d "I.." -}}
	<thead><tr><th colspan=3>Загадны лад</th></tr></thead>
	<tbody>
		<tr>
			<th><v-abbr>2-я ас.</v-abbr></th>
			<td>{{form $d "I2S"}}</td>
			<td>{{form $d "I2P"}}</td>
		</tr>
	</tbody>
{{end -}}
{{if hasForm $d ".G" -}}
	<thead><tr><th colspan=3>Дзеепрыслоўе</th></tr></thead>
	<tbody>
		{{if hasForm $d "RG" -}}
		<tr>
			<th><v-abbr>цяп. час</v-abbr></th>
			<td colspan=2>{{form $d "RG"}}</td>
		</tr>
		{{end -}}
		{{if hasForm $d "PG" -}}
		<tr>
			<th><v-abbr>прош. час</v-abbr></th>
			<td colspan=2>{{form $d "PG"}}</td>
		</tr>
		{{end -}}
	</tbody>
{{end -}}
</table>
</p>
{{end -}}

{{define "EmptyForm"}}
{{$n := len .Forms}}
{{if gt $n 1 -}}
<table><tr><td>
{{form . ""}}
</td></tr></table>
{{end}}
{{end -}}

<p><strong class="hw">{{.Lemma}}</strong></p>
{{if .Meaning}}<p>‘{{.Meaning}}’</p>{{end -}}
<p><em>{{.Tag | grammarCategories}}</em></p>

{{- if hasPrefix .Tag "A0" -}}
{{else if hasPrefix .Tag "A" -}}
	{{template "SN" . -}}
	{{if hasForm . "R" -}}
		<p>Прыметнік у функцыі прыслоўя: <strong class="hw-alt">{{form . "R"}}</strong>.</p>
	{{end -}}
{{else if hasPrefix .Tag "M0" -}}
{{else if hasPrefix .Tag "M" -}}
	{{template "SN" .}}
{{else if hasPrefix .Tag "N" -}}
	{{if hasSuffix .Tag "5"}}
		{{template "SN" .}}
	{{else}}
		{{template "N" .}}
	{{end}}
{{else if hasPrefix .Tag "P" -}}
	{{template "SN" .}}
	{{if hasForm . "R" -}}
		<p>Кароткая форма: <strong class="hw-alt">{{form . "R"}}</strong>.</p>
	{{end -}}
{{else if hasPrefix .Tag "R" -}}
	{{template "R" .}}
{{else if hasPrefix .Tag "S0" -}}
{{else if hasPrefix .Tag "S" -}}
	{{template "SN" .}}
{{else if hasPrefix .Tag "V" -}}
	{{template "V" . -}}
{{else if hasPrefix .Tag "W" -}}
	{{template "EmptyForm" . -}}
{{else if hasPrefix .Tag "Y" -}}
	{{template "EmptyForm" . -}}
{{else if hasPrefix .Tag "Z" -}}
	{{template "EmptyForm" . -}}
{{ end -}}

{{ if .OtherVariants -}}
<p>Іншыя варыянты:
	{{$first := true -}}
	{{range $v := .OtherVariants -}}
		{{- if not $first}},{{end}}
		<strong class="hw-alt">{{$v}}</strong>
		{{- $first = false -}}
	{{- end}}.
</p>
{{- end -}}
