{{define "body" -}}
<h4 class="ml-1 mr-1 mb-3">{{.Dictionary.Title}}</h4>
<div class="letter-filter">
    {{with .LetterFilter.Links}}
    {{range .}}
    <div class="letter-filter-level mt-1 mb-1">
        {{range . -}}
        <a
            class="btn ml-1 mb-1 btn-sm btn-light {{if .Active}}active{{end}}"
            href="{{.URL}}"
            title="{{.Title}}"
        >{{.Text}}</a>
        {{- end}}
    </div>
    {{end}}
    {{end}}
</div>
<div>
    {{range .Articles}}
    {{template "article" .}}
    {{end}}
</div>
{{template "pagination" .}}
{{end}}
