{{define "body" -}}
  <div id="search">
    <form action="/" method="get">
      <div class="search-input">
        <input type="text" name="q" value="{{.Q}}" autocomplete="off" autofocus="autofocus"/>
        <span class="button button-clear">
          <i class="fas fa-times" aria-hidden="true"></i>
        </span>
        <span class="button button-search button-search-wide">Шукаць</span>
        <span class="button button-search button-search-small">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </div>
      <ul class="suggestions" style="display:none;">
      </ul>
    </form>
  </div>
  <script type="text/javascript">
    class SearchControl {
      constructor(el) {
        this.hideSuggestions = this.hideSuggestions.bind(this)

        this.el = el
        this.input = el.querySelector('input[name=q]')
        this.clearButton = el.querySelector('.button-clear')
        this.suggestions = el.querySelector('.suggestions')
        this.form = el.querySelector('form')
        for (let buttonSearch of el.querySelectorAll('.button-search')) {
          buttonSearch.addEventListener('click', () => {
            this.form.submit()
          })
        }

        this.input.addEventListener('input', () => {
          this.onValueChange()
        })
        this.input.addEventListener('keydown', (ev) => {
          switch(ev.code) {
            case "Escape":
              ev.preventDefault()
              this.resetActiveSuggestion(true)
              this.hideSuggestions()
              break;
            case "ArrowDown":
              if (this.activeSuggestion) {
                if (this.activeSuggestion.nextSibling) {
                  this.activateSuggestion(this.activeSuggestion.nextSibling, true)
                } else {
                  this.resetActiveSuggestion(true)
                }
              } else {
                let li = this.suggestions.querySelector('li:first-child')
                if (li) {
                  this.activateSuggestion(li, true)
                }
              }
              ev.preventDefault()
              break;
            case "ArrowUp":
              if (this.activeSuggestion) {
                if (this.activeSuggestion.previousSibling) {
                  this.activateSuggestion(this.activeSuggestion.previousSibling, true)
                } else {
                  this.resetActiveSuggestion(true)
                }
              } else {
                let li = this.suggestions.querySelector('li:last-child')
                if (li) {
                  this.activateSuggestion(li, true)
                }
              }
              ev.preventDefault()
              break;
          }
        })

        this.input.setSelectionRange(0, this.input.value.length)
        this.updateClearButton()

        this.clearButton.addEventListener('click', () => {
          this.input.value = ''
          this.input.focus()
          this.onValueChange()
        })

        this.suggestions.addEventListener('mouseover', (ev) => {
          if (ev.target == this.suggestions) {
            return
          }
          this.activateSuggestion(ev.target, false)
        })

        this.suggestions.addEventListener('mouseleave', () => {
          this.resetActiveSuggestion(false)
        })

        this.suggestions.addEventListener('click', (ev) => {
          if (this.activeSuggestion) {
            this.input.value = this.activeSuggestion.innerText
            this.form.submit()
          }
        })
      }

      onValueChange() {
        this.backupInputValue = ''

        this.updateClearButton()
        if (!this.input.value) {
          this.hideSuggestions()
          return
        } else {
          if (this.req) {
            this.req.abort()
          }
          this.req = new XMLHttpRequest()
          let self = this
          this.req.addEventListener('load', function() {
            self.updateSuggestions(JSON.parse(this.responseText))
            self.req = false
          })
          this.req.open('GET', '/_suggest?q=' + encodeURIComponent(this.input.value))
          this.req.send()
        }
      }

      showSuggestions() {
        document.addEventListener('click', this.hideSuggestions)
        this.suggestions.style.display = ''
      }

      hideSuggestions() {
        document.removeEventListener('click', this.hideSuggestions)
        this.suggestions.style.display = 'none'
        this.suggestions.innerHTML = ''
      }

      updateSuggestions(suggestions) {
        if (suggestions.length == 0) {
          this.hideSuggestions()
          return
        }

        this.suggestions.innerHTML = ''
        for (let suggestion of suggestions) {
          let li = document.createElement('li')
          li.innerText = suggestion
          this.suggestions.appendChild(li)
        }

        this.showSuggestions()
      }

      activateSuggestion(li, updateValue) {
        if (this.activeSuggestion) {
          this.activeSuggestion.classList.remove('active')
        }
        this.activeSuggestion = li
        li.classList.add('active')

        if (updateValue) {
          if (!this.backupInputValue) {
            this.backupInputValue = this.input.value
          }
          this.input.value = li.innerText
        }
      }

      resetActiveSuggestion(resetValue) {
        if (this.activeSuggestion) {
          this.activeSuggestion.classList.remove('active')
          this.activeSuggestion = null
        }

        if (resetValue && this.backupInputValue) {
          this.input.value = this.backupInputValue
          this.backupInputValue = ''
        }
      }

      updateClearButton() {
        if (this.input.value.length > 0) {
          this.clearButton.style.display = ''
        } else {
          this.clearButton.style.display = 'none'
        }
      }
    }

    new SearchControl(document.getElementById('search'))
  </script>

  {{range .Articles}}
  <div class="article">
    {{ .Content | md }}
    <div class="source">
      {{ .DictTitle }}
    </div>
  </div>
  {{end}}
{{end}}
